# Dependencies
node_modules/
package-lock.json
dist/
dist-ssr/
*.local

# Assets
sql-wasm.wasm


# Python
venv/
__pycache__/
*.pyc

# Local Database (Avoid 100MB limit issues)
backend/**/*.db

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backends
backend/**/__pycache__/
backend/**/venv/
scratch.py

# System
.DS_Store
.antigravitycli/4293a9f9-20d1-4191-99ff-428733621050.json
vscode_cli.tar.gz
code